// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

.title {
  font-family: "Work Sans";
  font-weight: 700;
  @include adaptiveValue("font-size", 36, 22);
  line-height: 116.7%; /* 42/36 */
  text-transform: uppercase;
  color: $primaryText;
  transition: color 0.3s ease 0s;
  &_white {
    color: #fff;
  }
}

.title-second {
  font-family: "Work Sans";
  font-weight: 700;
  @include adaptiveValue("font-size", 26, 18);
  line-height: 150%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: $primaryText;
  transition: color 0.3s ease 0s;

  &_white {
    color: #fff;
  }
}

.text {
  font-family: "Roboto";
  font-weight: 400;
  @include adaptiveValue("font-size", 22, 15);
  line-height: 145%;
  color: $secondaryText;
  transition: color 0.3s ease 0s;

  @media (max-width: $mobile) {
    line-height: 160%;
  }

  &_white {
    color: #fff;
  }
}
