//====================================================================================================

.hero {
  &__container {
    display: flex;
    gap: toRem(20);

    @include adaptiveValue("padding-top", 55, 45);

    @media (min-width: $mobile) {
      padding-bottom: toRem(230);
      justify-content: space-between;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: toRem(40);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: toRem(790);

    @media (min-width: $mobile) {
      @include adaptiveValue("padding-top", 145, 40, 0, 1476, 991);
    }
  }

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 60, 28);
    text-transform: uppercase;
    color: $primaryText;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 22, 16);
    }

    span {
      color: $primaryGreen;
    }
  }

  &__text {
    font-family: "Roboto";
    font-weight: 400;
    @include adaptiveValue("font-size", 24, 15);
    line-height: 150%;
    color: $secondaryText;

    max-width: toRem(665);
    &:not(:last-child) {
      margin-bottom: toRem(45);
    }

    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(10);

    @media (max-width: $mobile) {
      order: 4;
      margin-top: toRem(20);
    }

    @media (min-width: $mobile) {
      &:not(:last-child) {
        margin-bottom: toRem(110);
      }
    }
  }

  &__button {
    @media (min-width: $mobile) {
      min-width: toRem(425);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__numbers {
  }

  &__image {
    @media (min-width: $mobile) {
      flex: 0 0 percent(543, 1440);
    }
    @media (max-width: $mobile) {
      max-width: percent(208, 284);
      margin-bottom: toRem(-60);
    }
    z-index: -1;

    img {
      max-width: 100%;
    }
  }
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  @include adaptiveValue("gap", 76, 50);
  &__item {
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% - toRem(10));
        top: toRem(10);
        @include adaptiveValue("right", -38, -25);
        background-color: #b7b7b7;
      }
    }
  }

  &__num {
    font-family: "Inter";
    font-weight: 700;
    @include adaptiveValue("font-size", 50, 29);
    text-transform: uppercase;
    color: $primaryGreen;
    margin-bottom: em(5, 50);
  }

  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 14, 12);
    text-transform: capitalize;
    color: #595959;
  }
}

//====================================================================================================

.why-us {
  background-color: $link;
  @include adaptiveValue("padding-top", 135, 60);
  @include adaptiveValue("padding-bottom", 135, 35);

  &__container {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: toRem(35);
    }
  }

  &__content {
    max-width: toRem(335);
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 20);
    }
  }

  &__text {
  }

  &__items {
    position: relative;
    display: grid;
    @include adaptiveValue("column-gap", 130, 20, 0, 1476, 991);

    @media (min-width: $mobile) {
      row-gap: toRem(48);
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $tablet) {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      @include adaptiveValue("padding-left", 150, 20, 0, 1476, 991);
    }
  }

  &__item {
    @media (max-width: $mobile) {
      padding-top: toRem(33);
      padding-bottom: toRem(33);

      border-bottom: 1px solid rgba(255, 255, 255, 0.5);

      &:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.item-why-us {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 16, 12);
  &__ico {
    flex-shrink: 0;
    flex-grow: 0;
    @include adaptiveValue("flex-basis", 60, 46);
    img {
      max-width: 100%;
    }
  }

  &__text {
    font-weight: 500;
    @include adaptiveValue("font-size", 22, 15);
    line-height: 145%;
    color: #fff;

    @media (max-width: $mobile) {
      text-transform: uppercase;
    }
  }
}

//========================================================================================================================================================

.services {
  @include adaptiveValue("padding-top", 220, 60);
  @include adaptiveValue("padding-bottom", 110, 30);
  &__container {
    display: grid;
  }

  &__title {
    justify-self: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 50);
    }
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 30, 20);

    @media (min-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(370), 1fr));
    }
  }

  &__item {
  }
}

.item-services {
  position: relative;
  background-color: #f3f3f3;
  border-radius: 4px;

  @include adaptiveValue("padding-right", 50, 22, 0, 1476, 991);
  @include adaptiveValue("padding-left", 50, 22, 0, 1476, 991);
  @include adaptiveValue("padding-top", 65, 26);
  @include adaptiveValue("padding-bottom", 85, 60);

  @media (min-width: $pc) {
    min-height: toRem(510);
  }

  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease;
  &:hover {
    box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: $link;

    .item-services__title,
    .item-services__text {
      color: #fff;
    }

    .item-services__link {
      opacity: 1;
    }
  }

  &__ico {
    @include adaptiveValue("max-width", 82, 51);

    svg,
    img {
      max-width: 100%;
    }

    svg path {
      transition: all 0.3s ease 0s;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 38, 28);
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 16, 12);
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__text {
    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }

  &__link {
    position: absolute;
    @include adaptiveValue("bottom", 25, 20);
    @include adaptiveValue("right", 25, 15);
    @include adaptiveValue("font-size", 51, 24);
    color: #fff;

    @media (min-width: $mobile) {
      opacity: 0;
    }
    @media (max-width: $mobile) {
      color: $primaryGreen;
      transform: rotate(-45deg);
    }

    transition:
      color 0.3s ease,
      opacity 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: $primaryGreen;
      }
    }
  }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
